body {
    background-color: yellowgreen;
    font-family: Verdana, "DejaVu Sans", sans-serif;
    color: white;
    border: 1px solid whitesmoke;
    border-radius: 7px;
    margin: 30px;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    text-align: justify;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    /* border: 1px solid red;
    padding: 10px; */
}

h1{
    text-align: center;
}

img {
    height: 300px;
    width: 320px;
    box-shadow: 8px 10px 7px 1px gray;
    border-radius: 10px;
}

